/* font default for entire webpage */
body {
  font-family: sans-serif;
  background: #ddd;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

/* flexing the whole flexbox container div */
#flexbox-container {
  display: flex;
  justify-content: center;
}

#flexbox-container > .flex-para {
  width: 75%;
}

.flex-para-one {
  width: 15%;
}

/* 2nd row column flex */

.row {
  display: flex;
  justify-content: center;
}

/* rev flex */

.reversed-flex {
  display: flex;
  justify-content: center;
}

.reversed-flex > .para {
  width: 45%;
}

.reversed-flex > h2 {
  text-align: start;
}

.reversed-flex > p {
  min-width: 450px;
  max-width: 250px;
}

.forward-flex-mario {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.forward-flex-mario > .para {
  width: 35%;
}

/* .img-flex{flex-direction: column;display:flex} */
