#flexing-bulb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Main_Bulb {
  box-shadow: 10px 10px 321px 34px rgba(255, 255, 0, 0.6);
  box-shadow: 10px 10px 321px 34px rgba(255, 255, 0, 0.6);
  box-shadow: 10px 10px 321px 34px rgba(255, 255, 0, 0.6);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: yellow;
}

.blb {
  background-color: #000;
}

.grey {
  background-color: grey;
}
.wh {
  background-color: #fff;
}
