@tailwind base;
@tailwind components;
@tailwind utilities;

.img_controls {
  height: 55vh;
  border-radius: .2rem
}

span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.circs {
  border-radius: 50%;
  height: 1rem;
  font-size: 10px !important
}
